<!-- 
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>App component</h2>
            <hr>
            redirect to servers.component.ts to check the template //comment
            <app-servers></app-servers>
            <div class="app-servers"></div> //c
            <div app-servers> </div> //c
        </div>
    </div>
</div> -->

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onCreatePost(postForm.value)" #postForm="ngForm">
                <!-- grouping data -->
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" ngModel name="username" required>
                    </div>
                    <!-- <button class="btn btn-success" type="button" (click)="suggestUserName()">
                        Suggest an Username
                    </button> -->
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" id="email" class="form-control" ngModel name="email" required email
                            #email="ngModel">
                        <!-- for error-message if user touched and not input valid text-->
                        <span class="help-block warn" *ngIf="!email.valid && email.touched">Please enter a valid
                            email!</span>
                    </div>
                </div>
                <p class="help-block warn" *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>

                <!-- <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select id="secret" class="form-control" name="secret" [ngModel]='selectedOption'>
                        one-way binding to set to default value
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comments">Your Answer</label>
                    <textarea name="comments" rows="3" class="form-control" [(ngModel)]="answer">
                    </textarea>
                    two-way binding for showing instant change
                </div>
                <p>Your latest reply: {{ answer }}</p>

                <div class="radio form-group">
                    <label *ngFor="let gender of genders">
                        <input type="radio" name="gender" [value]="gender" ngModel required>
                        {{gender}}
                    </label>
                </div> -->
                <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">Send Post</button>
            </form>
        </div>
    </div>
    <!-- <hr>
    <div class="row" *ngIf="isSubmitted">
        <div class="col-xs-12">
            <h3>Your Data</h3>
            <p>Username: {{ user.userName | titlecase}}</p>
            <p>Mail: {{ user.emailId | shorten:7}}</p>
            <p>Secret Question: Your first {{ user.secretQue | uppercase}} ?</p>
            <p>Answer: {{ user.comments }}</p>
            <p>Gender: {{ user.gender }}</p>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <button class="btn btn-primary" (click)="onFetchPosts()">
                Fetch Posts
            </button>

            <button class="btn btn-danger" [disabled]="loadedPosts.length < 1" (click)="onClearPosts()">
                Clear Posts
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
            <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
                <li class="list-group-item" *ngFor="let post of loadedPosts">
                    <!-- <p>Id:{{post.id}}</p> -->
                    <p>Username : {{post.userData.username}}</p>
                    <p style="color:blue">EmailId : {{post.userData.email}}</p>
                </li>
            </ul>
            <!-- when we r send fetch request -->
            <p *ngIf="isFetching && !error">Loading.........</p>
            <!-- when there is error then ngIf becomes true -->
            <div class="alert alert-danger" *ngIf="error">
                <h2>An Error Occurred!!</h2>
                <p>{{error}}</p>
                <p>{{errorMsg}}</p>
                <button class="btn btn-danger" (click)="onHandleError()">Okay!</button>
            </div>
        </div>
    </div>
</div>

<hr>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <a routerLink='/polygon'>DrawPolygon</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>