<div class="container">
    <h1>Hello From Poly</h1>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256–2z0P7MLoyxByUtvAk/xjkmindefS4auh4Pfzbm7y6g0=" crossorigin=”anonymous”>
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.9/fabric.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"
        integrity="sha512-QB3zR+8x8QAzPoX+ii34j268H8tGzLf/8dca+gzNWASANnmeO+UM7SIqBTf5Y3fr+8ULgSC4gS8oP/vqJTh7mw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="./index.js"></script> -->
    <!-- <button class="btn btn-primary" id="censor1" title="Draw Polygon"
    (click)="censorClick1('https://helpx.adobe.com/photoshop/using/convert-color-image-black-white.html')">Censor1</button>

<button class="btn btn-primary" id="poly" title="Draw Polygon"
    (click)="censorClick2('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg')">Censor2</button> -->

    <div *ngFor="let imgRef of imgRefs; let i=index;">

        <br>
        <button [id]="'poly'+i" class="btn btn-primary" id="censor1" (click)="censorClick(i)">Censor{{i+1}}</button>
    </div>

    <label style="color: blue"><b>Press double click to close shape and stop</b></label>

    <canvas id="canvasTools" height="500" width="650" style="border: 1px solid black" class="canvas">
    </canvas>
</div>