<div class="container">
  <div>
    <button id="poly" class="btn btn-primary" [disabled]="!isClick">
      Draw Polygon
    </button>
  </div>
  <br />
  <div *ngFor="let sensor of sensorBtns; let i = index" style="display: inline-block">
    <button class="btn btn-primary" style="margin-right: 1rem" (click)="sensorClick(sensor)">
      {{ sensor.name }}
    </button>
  </div>

  <div>
    <b *ngIf="isClick" style="color: blue">Press double click to close shape and stop</b>
    <p *ngIf="isClick" style="color: red">{{ guide }}</p>
  </div>
  <br />
  <div>
    <input type="text" class="form-control" name="userInput" id="userInput" #userInput />
    <br /><br />
    <button class="btn btn-primary" style="margin-right: 1rem" (click)="drawRoiInput()">
      Submit
    </button>
    <br><br>
    <input type="text" class="form-control" name="userId" id="userId" #userId />
    <button class="btn btn-danger" style="margin-right: 1rem" (click)="deleteObject()">
      Delete Object
    </button>
    <br><br>
    <ng-container>
      <div>
        <button class="btn btn-primary" [disabled]='disableAddZoneButton' (click)="zoneAdd()">
          add zone
        </button>
        <div class="showInputField"></div>
        <p *ngIf='disableAddZoneButton'>Maximum 3 zone are allowed</p>
        <!-- <div *ngFor="let color of colorArray;let i=index">
          <input *ngIf="zoneClickCount === i+1" type="text" class="form-control" [(ngModel)]="zoneName">
        </div> -->
      </div>
    </ng-container>
  </div>
  <br>

  <canvas id="canvasTools" height="500" width="850" style="border: 1px solid black"></canvas>

</div>